<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Mail</title>
    </head>
    <body>
        <h2>Link JE đã tạo</h2>
        {% for link in links %}
            <a href="{{link}}">{{link}}</a>
        {% endfor %}
        <h2>Danh sách CD/CP</h2>
        <table>
            <thead>
                <tr>
                    {% for header in headers %}
                    <th scope="col">{{ header }}</th>
                    {% endfor %}
                </tr>
                {% for entry in entries %}
            </thead>
            <tbody>
                <tr>
                    {% for header in headers %}
                    <td>{{ entry[header] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
